<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<title>Task</title>
		
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="box">
							<h1 class="title" th:text="${title}"></h1>
	
							<form th:action="${task.id == null} ? @{/add} : @{/update}" th:object="${task}" method="POST">
								<input type="hidden" th:field="*{id}"/>
								<div class="field">
									<label class="label" th:for="title">Title</label> 
									<input id="title" th:field="*{title}" name="title" class="input" type="text" placeholder="Enter task title">
									<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="help is-danger"></span>
								</div>
								<div class="field">
									<label class="label" th:for="description">Description</label> 
									<input id="description" th:field="*{description}" name="description" class="input" type="text" placeholder="Describe the task">
									<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="help is-danger"></span>
								</div>
								<div class="field">
									<input class="button is-primary" type="Submit" value="Save">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>